<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone left a new comment on your profile!</h1>
    <p>
      Someone has commented on your profile.<br>
    </p>
    <p>
      To check out the comment follow this link: <%= @url %>.
    </p>
    <p>Have a nice day and don't forget a cold beer!</p>
  </body>
</html>